footer {
    height: 15px;
    background: linear-gradient(to bottom, #e494da, #db9b6a);
    padding: 20px;
    text-align: center;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-size-adjust: 5px;
    
}

.contact-info {
    font-family: Arial, sans-serif;
    font-size: 16px;
    display: flex;
    flex-grow: 1; /* Chia đều chiều rộng cho 3 div */
    justify-content: center; /* Căn nội dung bên trong theo chiều ngang */
}

.contact-detail {
    margin: 0 15px; /* Điều chỉnh khoảng cách giữa các div */
}
