footer {
    height: 15px;
    width: 100%;
    background: linear-gradient(to bottom, #e494da, #db9b6a);
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed; /* Đảm bảo footer dính vào viền dưới màn hình */
    bottom: 0; /* Hiển thị footer ở dưới cùng */
    left: 0; /* Chỉ định phần bên trái của footer */
    right: 0; /* Chỉ định phần bên phải của footer */
    
}

.contact-info {
    font-family: Arial, sans-serif;
    font-size: 16px;
    display: flex;
    flex-grow: 1; /* Chia đều chiều rộng cho 3 div */
    justify-content: center; /* Căn nội dung bên trong theo chiều ngang */
}

.contact-detail {
    margin: 0 15px; /* Điều chỉnh khoảng cách giữa các div */
}
